<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% if is_granted(expression('not is_anonymous()')) %}
            <p>
                <a href="/page/1">Page 1</a> | 
                <a href="/page/2">Page 2</a> | 
                <a href="/logout">Logout</a>
            </p>
        {% endif %}
    </body>
</html>
