{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to PHP Developer Test</h1>
    {% if is_granted(expression('not is_anonymous()')) %}
        <p>You are already logged in.</p>
    {% else %}
        <p>Visit this <a href="/login">link</a> to log in.</p>
    {% endif %}
    <p>You can also visit the following pages:</p>
    <ul>
    	<li><a href="/page/1">Page 1</a></li>
		<li><a href="/page/2">Page 2</a></li>
    </ul>
{% endblock %}