{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted(expression('not is_anonymous()')) %}
        <p>You are already logged in.</p>
    {% else %}
        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>
            <input type="hidden" name="_target_path" value="{{ path('page1') }}"/>
            <button type="submit">Login</button>
        </form>
        {% if error %}
            <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
    {% endif %}
{% endblock %}