{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login</h1>
    {% if is_granted(expression('not is_anonymous()')) %}
        <p>You are already logged in.</p>
    {% else %}
        <form action="{{ path('login') }}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td><label for="username">Username:</label></td>
                        <td><input type="text" id="username" name="_username" value="{{ last_username }}"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password:</label></td>
                        <td><input type="password" id="password" name="_password"/></td>
                    </tr>
                </tbody>
            </table>
            <p><button type="submit">Login</button></p>
        </form>
        {% if error %}
            <p style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
    {% endif %}
{% endblock %}